<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body>
  <div class="wrapper">
      <header>
          <div>
            <nav class"nav">
                    <a class="href" href="/">Home</a>
                    <a class="href" href="/dashboard">Dashboard</a>
                    <a class="href" href="/" id="logout">Logout</a>
                    <a class="href" href="/login">Login</a>
                </nav>          
          </div>

          <h1>Tech Blog</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>
<script src="/js/logout.js"></script>
</body>

</html>
