<div class="wrapper card">
  <div class="userposts">
    {{#each posts}}
      <h3>{{heading}}</h3>
      <p>{{content}}</p>
      <input type="hidden" id="postId" value="{{id}}" />
      <a href="/updatePost/{{id}}"><button class="btn" type="button">Update Post</button></a>
      <button class="btn deleteBtn" type="button">Delete Post</button>
    {{/each}}
  </div>
  <div class="card-header">
    <h2>New Post</h2>
  </div>
  <form id="newPost" class="card-body">
    <label class="form-label" for="post-heading">Heading</label>
    <input type="text" name="post-heading" class="form-input" id="heading" />

    <label class="form-label" for="post-content">Content</label>
    <textarea name="post-content" class="form-input" id="content"></textarea>

    <button type="submit" class="newPostButton btn">Create Post</button>
  </form>
</div>

<script src="/js/newPost.js"></script>
<script src="/js/deletePost.js"></script>