<div class="post">
    <div class="card">
    {{#each postData as |post|}}
    
        <div class="card-header"><h3><a href='/singlePost/{{post.id}}' class="href">{{heading}}</a></h3>
        <p>Posted by {{user.username}}</p>
        </div>
        <div class="card-body">
        <p>{{content}}</p>
        </div>
    {{/each}}
    </div>
</div>