<div class="card">
  <h3 class="card-header">Signup</h3>
  <form id="signup-form" class="card-body">
    <label class="form-label" for="username-signup">Username</label>
    <input
      id="username-signup"
      type="text"
      autofocus="true"
      class="form-input"
    />

    <label class="form-label" for="password-signup">Password</label>
    <input
      id="password-signup"
      type="password"
      autofocus="true"
      class="form-input"
    />

    <button type="submit" class="signup-btn">Sign Up</button>
  </form>
</div>

<script src="/js/login.js"></script>